<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="VIAJES, VIAJAR, AVION, BUS,TRAVEL, AGENCIA DE VIAJES, EMPRESA DE VIAJES, TRAVEL AGENCY">
    <title>Sobre nosotros como Empresa de turismo</title>
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href ="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">

  
  </head>
    
<body id="textos" class="fonDo" class="container-fluid no-gutters">
  <header class="row no-gutters">
      <nav class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark celeste scrolling-navbar fixed-top">
          <a class="navbar-brand" href="#"></a>
          <img class="logo" src="../Multimedia/LOGO IMAN  2021.png" alt="" data-aos="fade-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./AcercaDeNosotros01.html">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./ServiciosQueOfrecemos02.html">Servicios que ofrecemos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./NuestrosViajesEnFotos04.html">Nuestros viajes en fotos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./InformaciónÚtil.html">Información Útil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Contacto05.html">Contacto</a>
              </li>
            </ul>
          </div>
        </nav>   
  </header>

<div class="aCerca">
  <!-- Jumbotron -->
<div class="jumbotron text-center">
  
  <!-- Card image --> 
  <div class="view overlay zoom my-4">
    <img src="../Multimedia/kelsey-knight-SFRw5GChoLA-unsplash-min.jpg" class="img-fluid z-depth-1" alt="1">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <h4 class="card-title h4 pb-2"><strong>Todo comenzó con un viaje con amigos...</strong></h4>

  <h5 class="indigo-text h5 mb-4">Entre bocetos y planes de ruta diseñamos nuestro primer tour,  
    con el anhelo de las vacaciones soñadas, descanso, paz y tranquilidad
    inconcientemente fuimos abocándonos a esta apasionante profesión: los viajes.</h5>

   <p class="card-text acercaTexto">De a poco fueron concretándose otros más cortos, más largos, en avión, en bus,
    en auto siempre con el anhelo de descanso y por supuesto conocer más 
    a cerca del país, continente y del mundo.
    <br>
    Con ojos bien abiertos fuimos mimetizándonos con cada lugar, personas, experiencias,
   sabores, culturas, olores, disfrutando a cada paso...
   De esta forma, se fue moldeando nuestra historia, creando nuestra propia realidad
   y sobre todo cumpliéndose nuestros sueños y es de esta manera que 
   nace Iman Turismo...
    <br>
   Actualmente somos una empresa familiar con más de 10 años de trayectoria en el mercado
    del turismo.
    Nos caracterizamos por la confianza, honestidad, responsabilidad y la seriedad 
   que depositan nuestros pasajeros a la hora de emprender sus vacaciones.</p>
</div>
<!-- Jumbotron -->

</div>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #0d47a1;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">¡Conectate con nosotros en las redes sociales!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Iman Turismo</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Empresa de viajes y Turismo Legajo 13.132</p>
      </div>

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Productos</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="../index.html">Home</a>
        </p>
        <p>
          <a href="./AcercaDeNosotros01.html">A cerca de nosotros</a>
        </p>
        <p>
          <a href="./ServiciosQueOfrecemos02.html">Servicios que ofrecemos</a>
        </p>
        <p>
          <a href="./NuestrosViajesEnFotos04.html">Nuestros viajes en fotos</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Enlaces Útiles</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="./Contacto05.html">Contacto</a>
        </p>
        <p>
          <a href="./InformaciónÚtil.html">Info Útil</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Av. Cárcano 57, Villa Carlos Paz</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>infoiman@hotmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +54 3541 486171</p>
        <p>
          <i class="fas fa-print mr-3"></i> +54 3541 486171</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Todos los derechos reservados: IMAN TURISMO Leg. 13.132
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
         
   <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
   <script>
     AOS.init();
   </script>
         <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
   <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>        
</body>
</html>