<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="VIAJES, VIAJAR, AVION, BUS,TRAVEL, AGENCIA DE VIAJES, EMPRESA DE VIAJES, TRAVEL AGENCY">
  <title>Contacto de la empresa de turismo</title> 
    <link rel="stylesheet" href="/assets/css/archivo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href ="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

<body class="fonDo" id="textos" class="container-fluid no-gutters">
   <header class="row no-gutters">
       <nav class="col-12">
         <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a1c8e9;">
           <a class="navbar-brand" href="#"></a>
           <img class="logo" src="/Multimedia/logo iman.png" alt=""data-aos="fade-right">
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
             <ul class="navbar-nav">
               <li class="nav-item active">
                 <a class="nav-link" href= "../index.html">Home<span class="sr-only">(current)</span></a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="./AcercaDeNosotros01.html">A cerca de nosotros</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="./ServiciosQueOfrecemos02.html">Servicios que ofrecemos</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="./NuestrosViajesEnFotos04.html">Nuestros viajes en fotos</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="./InformaciónÚtil.html">Información Útil</a>
               </li>
               <li class="nav-item">
                 <a class="nav-link" href="./Contacto05.html">Contacto</a>
               </li>
             </ul>
           </div>
         </nav>   
         <br>
         <br>
   </header>
 
<!-- Section: Contact v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive text-center my-5" id="title04">Contáctenos</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto pb-5">¿Tiene usted alguna pregunta? No dude en contactarnos directamente. Nuestro equipo se pondrá en contacto contigo en cuestión de horas para ayudarte.</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5 mb-lg-0 mb-4">

      <!-- Form with header -->
      <div class="card">
        <div class="card-body">
          <!-- Header -->
          <div class="form-header blue accent-1">
            <h3 class="mt-2"><i class="fas fa-envelope"></i> Escríbenos:</h3>
          </div>
          <p class="dark-grey-text">Escribiremos raramente, pero solo con el mejor contenido.</p>
          <!-- Body -->
          <div class="md-form">
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" id="form-name" class="form-control">
            <label for="form-name">Tu nombre</label>
          </div>
          <div class="md-form">
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="text" id="form-email" class="form-control">
            <label for="form-email">Tu email</label>
          </div>
          <div class="md-form">
            <i class="fas fa-tag prefix grey-text"></i>
            <input type="text" id="form-Subject" class="form-control">
            <label for="form-Subject">Sujeto</label>
          </div>
          <div class="md-form">
            <i class="fas fa-pencil-alt prefix grey-text"></i>
            <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
            <label for="form-text">Enviar mensaje</label>
          </div>
          <div class="text-center">
            <button class="btn btn-light-blue">Enviar</button>
          </div>
        </div>
      </div>
      <!-- Form with header -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">
      <!--Google map-->
      <div id="map-container-section" class="z-depth-1-half map-container-section mb-4" style="height: 400px">
        <iframe src="https://www.google.com/maps/place/Im%C3%A1n+Turismo/@-31.4226646,-64.4957912,15z/data=!4m5!3m4!1s0x0:0x9b608273b43a4991!8m2!3d-31.4226646!4d-64.4957912" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <!-- Buttons-->
      <div class="row text-center">
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-map-marker-alt"></i>
          </a>
          <p>Av Cárcano 57, Villa Carlos Paz</p>
          <p class="mb-md-0">Argentina</p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-phone"></i>
          </a>
          <p>+ 54 3541 486171</p>
          <p class="mb-md-0">Lunes a Sabados, 9:30-13:00 y 17.00-21.00</p>
        </div>
        <div class="col-md-4">
          <a class="btn-floating blue accent-1">
            <i class="fas fa-envelope"></i>
          </a>
          <p>infoiman@hotmail.com</p>
          <p class="mb-0"></p>
        </div>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Contact v.1 -->
  
  
   
   <br>
   <br>
   <br>

   <footer class="pieDePagina01" class="row no-gutters text-center">
      <br>
      <div class="col-12" id="title03">
        <h2>Contactanos</h2>
      </div>
       <div class="col-12 mt-4">
         <p>E-mail: imanturismo@hotmail.com</p>
           Av Cárcano, 57, Centro. Villa Carlos Paz, Córdoba.
           Tel: 03541-486171 / Wpp: 351- 5933525</div>
           <br>
        <div>
         <p>¿Ya nos sigues en las redes?</p>
        </div>
                 
             <br>
             <div class="col-12 redes">
               <img class="icon" src="/Multimedia/facebook.png" alt="">
               <img class="icon" src="/Multimedia/whatsapp.png" alt="">
               <img class="icon" src="/Multimedia/instagram (1).png" alt="">
               <img class="icon" src="/Multimedia/gorjeo.png" alt="">
             </div>
             <br>    
 </footer>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
   AOS.init();
 </script>
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>  
</body>
</html>