<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="VIAJES, VIAJAR, AVION, BUS,TRAVEL, AGENCIA DE VIAJES, EMPRESA DE VIAJES, TRAVEL AGENCY">
    <title>Servicios que ofrecemos como empresa de turismo</title>
    <link rel="stylesheet" href="../assets/css/archivo.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel = "preconnect" href = "https://fonts.gstatic.com">
    <link href ="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet">
  
  </head>

<body class="fonDo" id="textos" class="container-fluid no-gutters">
  <header class="row no-gutters">
      <nav class="col-12">
        <nav class="navbar navbar-expand-lg navbar-dark celeste scrolling-navbar fixed-top">
          <a class="navbar-brand" href="#"></a>
          <img class="logo" src="../Multimedia/LOGO IMAN  2021.png" alt="" data-aos="fade-right">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="../index.html">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./AcercaDeNosotros01.html">Acerca de nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./ServiciosQueOfrecemos02.html">Servicios que ofrecemos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./NuestrosViajesEnFotos04.html">Nuestros viajes en fotos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./InformaciónÚtil.html">Información Útil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./Contacto05.html">Contacto</a>
              </li>
            </ul>
          </div>
        </nav>   
        <br>
        <br>
  </header>

      
        <div class="container02"><p><h1></h1>
          <div class="container02__content02"><h1>Bariloche en bus 2021</h1>
             <h3>Salidas desde Córdoba 10,15,20 y 28 de marzo</h3>
             <h3> Servicios incluidos</h3>
            </div>  
             <p class="container__parrafo">
             • Aéreos desde Córdoba con Aerolíneas clase O
             <br>
             • 04 Noches de alojamiento con Regimen especificado
             <br>
             • Traslados a los hoteles
             <br>
             • Excursión Circuito Chico y Cerro Catedral sin ascenso
             <br>
             • Asistencia al viajero 
            </p>
           
         
        <section>
             <h3 id="title03">Tarifas</h3>
            </p>
            <aside></aside>
            <table border="1px">
             <tr>
             <th>HOTEL</th>
             <th>REGIMEN</th>
             <th>DOBLE</th>
             <th>TRIPLE</th>
            </tr>

            <tr>
            <td>INTERNACIONAL 2**</td>
            <td>DESAYUNO</td> 
            <td>$28000</td>
            <td>$26000</td> 
            </tr>

            <tr>
            <td></td>
            <td>MEDIA PENSIÓN</td> 
            <td>$32000</td>
            <td>$29000</td>
            </tr>
  
             <tr>
             <td>PATAGONIA SUR 3***</td> 
             <td>DESAYUNO</td>
             <td>$35000</td> 
             <td>$32500</td> 
             </tr>

             <tr>
             <td></td>
             <td>MEDIA PENSIÓN</td> 
             <td>$37000</td> 
             <td>$35500</td> 
             </tr>
 
            </table>
      </section>
  <br>
  <br>

      <section>
        <div class="container02__content02"><h1>Cataratas del Iguazú</h1>
           <h3>Salidas desde Córdoba 2,5,10 y 20 de abril</h3>
           <h3>Servicios incluidos</h3>
        </div>
        <p>
            • Aéreo desde Córdoba con Aerolíneas Vacaciones, clase V
           <br>
           • 04 Noches de alojamiento con Regimen especificado
           <br>
           • Traslados a hoteles
           <br>
           • Excursión Cataratas lado argentino (sin entradas)
           <br>
           • Excursión Cataratas lado brasileño (sin entradas)
           <br>
           • Asistencia al viajero

           <h3 id="title03">Tarifas</h3>
           </p>
        
           <table border="1px">
           <tr>
           <th>HOTEL</th>
           <th>REGIMEN</th>
           <th>DOBLE</th>
           <th>TRIPLE</th>
           </tr>

           <tr>
           <td>ARAMI 3***</td>
           <td>DESAYUNO</td>
           <td>$30000</td>
           <td>$28000</td>
           </tr>
   
           <tr>
           <td></td>
           <td>MEDIA PENSIÓN</td>
           <td>$35000</td>
           <td>$33500</td>
           </tr>

           <tr>
           <td>MARCOPOLO SUITE 3***</td>
           <td>DESAYUNO</td>
           <td>$36500</td>
           <td>$34200</td>
           </tr>

           <tr>
           <td></td>
           <td>MEDIA PENSIÓN</td>
           <td>$38000</td>
           <td>$35500</td>
          </tr>

          </table>
       </div>
     </section>

     <!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #0d47a1;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">¡Conectate con nosotros en las redes sociales!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Iman Turismo</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Empresa de viajes y Turismo Legajo 13.132</p>
      </div>

      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Productos</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="../index.html">Home</a>
        </p>
        <p>
          <a href="./AcercaDeNosotros01.html">A cerca de nosotros</a>
        </p>
        <p>
          <a href="./ServiciosQueOfrecemos02.html">Servicios que ofrecemos</a>
        </p>
        <p>
          <a href="./NuestrosViajesEnFotos04.html">Nuestros viajes en fotos</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Enlaces Útiles</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="./Contacto05.html">Contacto</a>
        </p>
        <p>
          <a href="./InformaciónÚtil.html">Info Útil</a>
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contacto</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Av. Cárcano 57, Villa Carlos Paz</p>
        <p>
          <i class="fas fa-envelope mr-3"></i>infoiman@hotmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +54 3541 486171</p>
        <p>
          <i class="fas fa-print mr-3"></i> +54 3541 486171</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 Todos los derechos reservados: IMAN TURISMO Leg. 13.132
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
         




        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
 <!-- JQuery -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <!-- Bootstrap tooltips -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
 <!-- Bootstrap core JavaScript -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
 <!-- MDB core JavaScript -->
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</body>
</html>