 /*navbar*/
 #textos {
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  color: black;
 }
 
 .celeste {
   background-color: #0d48a1ce !important;
 }

 .top-nav-collapse {
  background-color: #6cbcfd57 !important;
 }

 .navbar ul li {
   position: relative;
 }

 .navbar ul li::before {
   content: "";
   height: 3px;
   width: 0%;
   background-color: white;
   position: absolute;
   left: 0;
   bottom: -12px;
   transition: 0.4s ease-out;
 }
.navbar ul li:hover::before {
  width: 100%;
}
 

/*body*/

.fonDo{
  background: white;
 }


h1 {
  color:black;
  font-weight: bold; 
  }


p {
  font-size: 18px;
}

/*Nav*/
 .logo {
   width: 100px;
 }


 /*Sección 1 del Index*/
  
#oracion {
    font-size: 45px;
    line-height: 1.6;
    margin-top: 150px;
}

#oracion2 {
  margin-top: 150px;
}

.imgCarrousel {
  margin-top: 83px;
}

#oracion3 {
  font-size: 45px;
  line-height: 1.6;
  margin-top: 80px;
}

.Index {
  margin-top: 20px;
  padding-top: 20px;
}

.index2 {
  margin-top: 50px;
}


 /* Seccion 1 del Acerca de nosotros*/
 
 .aCerca {
   margin-bottom: 80px;
 }

 .acercaTexto {
 line-height: 1.7;  
 }

 .aCerca2 {
   margin-top: 30px;
 }

/*HEADER*/
.title h1 {
  text-align: center;
  color: rgba(2, 1, 1, 0.986);
  height: 50px;
}


  /*Sección 1 Servicios que ofrecemos*/

  .tabla {
    margin-left: 50px;
  }

  .textoServ {
    margin-top: 13px;
  }

/*Secciónes Nuestros viajes en fotos*/

.photo1 {
margin-top: 130px;
}

.photo2 {
  margin: 10px 5px 10px 10px;
}

.photo3 {
  margin-right: 0px;
  padding-right: 0px;
}


  /*Información Util*/
  .infoUtil {
    margin-top: 90px;
    margin-right: 0;
    padding-right: 0;
  }
 
  .infoUtil2 {
    margin-bottom: 80px;
  }

  .infoUtil3 {
    margin-top: 20px;
  }
  
   .tituloInfo {
     font-size: 40px;
   }


/*Contacto*/
.map-container-section {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container-section iframe {
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

#title04 {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.835);
}

.margenes {
  padding: 20px;
  margin-left: 10px;
}

.fieldset {
height: 550px;
width: 400px;
margin-left: 480px;
}


.logoimg2 {
  width: 60px;
}

#colorB {
color: rgba(0, 0, 0, 0.486);
}


