@charset "UTF-8";
/*Variables*/
/*SCSS*/
h1.titulo {
  font: normal 24px/1.5 "Pacifico", cursive; }

body {
  color: #e4ecf1; }

.icon {
  width: 50px; }

.logo {
  width: 160px; }

#title03 {
  font: "Pacifico", cursive; }

/*Operaciones*/
body {
  color: #e4ecf1; }

/*navbar*/
#textos {
  font-family: 'Comfortaa', cursive;
  font-weight: bolder;
  color: black; }

.celeste {
  background-color: #0d48a1ce !important; }

.top-nav-collapse {
  background-color: #6cbcfd57 !important; }

/*body*/
.fonDo {
  background: white; }

h1 {
  color: black;
  font-weight: bold; }

h3 {
  color: #1a1dd1;
  font-size: 20px;
  width: 250px; }

p {
  font-size: 18px;
  margin: 100px 10px 50px 10px; }

/*Nav*/
.logo {
  width: 100px; }

/*Sección 1 del Index*/
#oracion {
  font-size: 45px;
  line-height: 1.6;
  margin-top: 40px; }

.Index {
  margin-top: 30px;
  padding-top: 20px; }

.index2 {
  margin-top: 50px; }

/* Seccion 1 del Acerca de nosotros*/
.aCerca {
  margin-bottom: 80px; }

.acercaTexto {
  line-height: 1.7; }

/*HEADER*/
.title h1 {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: rgba(2, 1, 1, 0.986);
  height: 50px; }

/*Sección 1 Servicios que ofrecemos*/
.container02 {
  padding: 0px 20px 30px 10px;
  margin-left: 10px;
  margin-top: 0; }
  .container02__content02 {
    font-family: 'Pacifico', cursive; }
  .container02__parrafo {
    font-weight: bold; }

/*Secciónes Nuestros viajes en fotos*/
#Title02 {
  font-family: 'Pacifico', cursive;
  color: rgba(0, 0, 0, 0.76); }

#title03 {
  font-family: 'Pacifico', cursive; }

/*Información Util*/
.infoUtil {
  margin-top: 43px;
  margin-right: 0;
  padding-right: 0; }

.infoUtil2 {
  margin-bottom: 80px; }

.tituloInfo {
  font-size: 40px; }

/*Contacto*/
.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0; }

.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

#title04 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.835); }

.margenes {
  padding: 20px;
  margin-left: 10px; }

.fieldset {
  height: 550px;
  width: 400px;
  margin-left: 480px; }

.logoimg2 {
  width: 60px; }

#colorB {
  color: rgba(0, 0, 0, 0.486); }
